@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Maven+Pro:wght@900&family=Roboto:wght@500&family=Ubuntu:wght@700&display=swap');

:root{
    
    --backcolor:#12181c;
    --fontcolor:#eeeae1;
    --btncolor:#00FFFF;
    --fadecolor:#238888;
    --ccolor:linear-gradient(221deg, #212121 28%, #00c1c1 100%);
    --h2font:'Dosis';
    --pfont:'Roboto', sans-serif;
    --logofont:'Maven Pro', sans-serif;
    --navfont:'Ubuntu';
    --titletext:'Dosis';
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--pfont);
    background-color: var(--backcolor);
    color: var(--fontcolor);
}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.75s;
}

nav.sticky {
    background: var(--backcolor);
    padding: 19px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

nav .logo {
    font-family: var(--logofont);
    color: var(--fontcolor);
    text-decoration: none;
    font-size: 2em;
}

nav .logo span {
    margin-left: 5px;
    color: var(--btncolor);
}

nav .navigation {
    position: relative;
    display: flex;
}

nav .navigation li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation li a {
    font-family: var(--navfont);
    color: var(--fontcolor);
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.75s ease-in;
}

nav .navigation li a:hover {
    color: var(--btncolor);
}

nav .navigation li.dropdown:hover .dropdown-menu {
    display: block;
}

nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--backcolor);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    border-radius: 5px;
    overflow: hidden;
}

nav .dropdown-menu li {
    margin-left: 0;
    width: 150px;
}

nav .dropdown-menu li a {
    padding: 10px 15px;
    display: block;
    font-size: 1em;
    color: var(--fontcolor);
}

nav .dropdown-menu li a:hover {
    background-color: var(--btncolor);
    color: #fff;
}

/* Main Styles */
.main {
    width: 100%;
    height: 100vh;
    background-image: url(image\ \(1\).webp);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main-wrap {
    width: 85%;
    height: 100vh;
    display: flex;
}

.main-text {
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 35%;
}

.main-text .h1 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-style: italic;
    margin-bottom: 25px;
}

.main-text .p {
    width: 88%;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 45px;
}

.trust {
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
}

.main-text .btn {
    margin-top: 60px;
}

.main-text button {
    border: 2px solid rgb(179, 174, 174);
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 4px;
}

.main-text button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.main1 {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-wrap1 {
    width: 85%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
}

.main-wrap1 .card {
    width: 100%;
    border-radius: 15px;
    height: 400px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-wrap1 .card1 {
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(images/service-bg-image-0.jpg) no-repeat right;
}

.main-wrap1 .card3 {
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(images/service-bg-image-5.jpg) no-repeat right;
}

.main-wrap1 .card4 {
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(images/service-bg-image-3.jpg) no-repeat right;
}

.main-wrap1 .card5 {
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(images/service-bg-image-6.jpg) no-repeat right;
}

.card-text {
    margin-left: 30px;
}

.card .h11 {
    width: 700px;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    font-family: sans-serif;
    color: white;
    margin-bottom: 20px;
}

.card .h33 {
    width: 800px;
    font-size: 22px;
    font-weight: 200;
    font-family: sans-serif;
    color: white;
}

.form {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form .h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
}

.form .h3 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 430px;
    margin-top: 40px;
    height: 590px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}

label {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"] {
    height: 40px;
}

form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(216, 44, 75);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white;
    color: rgb(216, 44, 75);
}

footer {
    width: 100%;
    height: 50vh;
    background: #282828;
    display: flex;
    align-items: center;
}

.footer-body {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 300px;
    flex-wrap: wrap;
    color: #fff;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
}

.footer-logo {
    height: 12vh;
    background-color: #00FFFF;
    padding: 10px;
}

.box1 {
    text-align: center;
    padding: 10px;
}

.box1 .logo {
    font-family: var(--logofont);
    color: var(--fontcolor);
    text-decoration: none;
    font-size: 2em;
}

.box1 .logo span {
    margin-left: 5px;
    color: var(--btncolor);
}

@media (max-width: 1500px) {
    .main{
        margin-top: 80px;
        height: 150vh;
    }
    .main .main-form{
        margin-top: 90px;
    }

}

@media (max-width: 1200px) {
    .main{
        background-attachment: fixed;
        height: 250vh;
        width: 100vw;
    }
    .main-text{
        margin-top: 100px;
    }
    .main-form{
        margin-left: 400px;
        align-self: center;
        width: 30%;
    }
    .main-wrap{
        display: flex;
        flex-direction: column;
    }
    nav {
        padding: 19px 50px;
        display: flex;
        justify-content: flex-start;
        width: 70%;
    }
    
    .main-wrap {
        flex-direction: column;
    }
    
    .main-text,
    .main-form {
        width: 100%;
    }
    
    .main-text .h1 {
        font-size: 36px;
    }
    
    .main-text .p {
        font-size: 20px;
    }
    .main1 .h11{
        margin-bottom: 40px;
        font-size: 20px;
    }
    .main1 .h33{
        width: 600px;
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .main-text{
        margin-top: 100px;
    }
    
    nav {
        padding: 19px 30px;
    }
    
    .main-text .h1 {
        font-size: 30px;
    }
    
    .main-text .p {
        font-size: 18px;
    }
    .main-wrap1 {
        width: 90%;
    }
    
    .footer-body {
        flex-direction: column;
        align-items: center;
    }
    
    .box {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .main-wrap .main-form{

    }
    .main{
        width: 100vw;
        height: 210vh;
        background-size: cover;
    }
    .main1 .card{
        height: 150px;
        width: 100%;
    }
    .main1 .h11{
        font-size: 16px;
    }
    .main1 .h33{
        font-size: 12px;
        display: flex;
        width: 400px;
    }
    .main-form{
        margin-left: 200px;
    }
    nav {
        padding: 19px 20px;
    }
    
    .main-text .h1 {
        font-size: 24px;
    }
    
    .main-text .p {
        font-size: 16px;
    }
    
}

@media (max-width: 576px) {
    nav {
        padding: 19px 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .main-text .h1 {
        font-size: 20px;
    }
    
    .main-text .p {
        font-size: 14px;
    }
    nav a{
        font-size: 14px;
    }
    nav ul a{
        font-size: 14px;
    }
    .main-form {
        width: 100%;
        margin-left: 10px;
    }

}
@media (max-width: 400px) {
    nav {
        padding: 19px 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .main-text .h1 {
        font-size: 20px;
    }
    
    .main-text .p {
        font-size: 14px;
    }
    nav a{
        font-size: 14px;
    }
    nav ul a{
        font-size: 14px;
    }
    .main-form {
        width: 100%;
        margin-left: 10px;
    }
    .main1 .h11{
        font-size: 16px;
    }
    .main1 .h33{
        font-size: 12px;
        display: flex;
        width: 400px;
    }
}