*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: url(about_bg_small_800.jpg);
}
section {
    
    background: url(about_bg_small_800.jpg) no-repeat center/cover;
    padding-top: 10%; 
    width: 100%;
    height: 100vh;
   
}
section img{
    width: 100%;
    
}
.imge{
    transform: translateX(-100px);
        animation: left 2s ease forwards;
}
@keyframes left {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.imgage{
    transform: translateX(100px);
        animation: right 2s ease forwards;
}
@keyframes right {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
section .container .heading{
    color: white;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    font-family: sans-serif;
    opacity: 0;
            transform: translateY(100px);
            animation: slideDown 2s ease forwards;
}
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container .h1-content {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    transform: translateY(100px);
     animation: Down 2s ease forwards;
}
@keyframes Down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container .poet{
    color: rgb(252, 125, 246);
    font-size: 26px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
}
.poet span{
    color:rgb(251, 232, 250) ;
   font-size: 30px;
}
.top {
    font-size: 80px;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
.a1-row .imge{
    margin-left: 100px;
}
.img-box img{
    width: 1700px;
    justify-content: center;
    align-items: center;
margin-left: 20px;
}
