
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://static.vecteezy.com/system/resources/previews/002/884/043/original/abstract-red-and-black-futuristic-gaming-background-in-livestream-free-vector.jpg');
background-blend-mode: darken ;
  background-size:cover;
  
}


.navbar {
  background-color:none;
  color: #fff;
  top:0;
  left:0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;

}

.navbar .nav-links {
  display: flex;
  gap: 32px;
  font-size: 20px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
}
.nav-links li{
  margin-left: 40px;
  display: inline-block;
}
.hero {
  
  background-size: cover;
  background-position: center;
  height:200px;
  display: flex;
  padding: 20px  8%;
  justify-content: start;
  align-items: left;
  color: #fff;
 
}

.hero-content {
  max-width: 600px;
}
.hero-content h1{
  font-size: 40px;
}
.hero-content p{
  font-size: 20px;
}
.head{
  padding:40px;
  margin-left: 20px;
  margin-right: 20px;
 
  display: flex;
  justify-content: space-around;

}
.head1,.head2,.head3,.head4,.head5{ 
  padding: 2px;
  border: 3px solid red;
}
.text-head{
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.sub-head1{
  background-image: url('https://images8.alphacoders.com/108/1080944.jpg');
  background-size: cover;
  width:200px;
  height: 200px;
  
}
.sub-head2{
  background-image: url('https://store-images.s-microsoft.com/image/apps.60323.14294656681058683.4d17bdd8-7026-429a-846f-cf7836bc9e56.a69e6905-8926-4a48-b243-14a039b97aae?mode=scale&q=90&h=1080&w=1920&format=jpg');
  background-size: cover;
  background-position: center;
  width:200px;
  height: 200px;
}
.sub-head3{
  background-image: url('https://images.hdqwalls.com/wallpapers/cyberpunk-2077-2020-4k-game-0c.jpg');
  background-size: cover;

  
  width:200px;
  height: 200px;
}
.sub-head img{
  background-size: cover;
}
.btn{
  background-color: rgb(171, 41, 41);
  border: none;
  color: #fff;
  width:100px;
  height: 30px;
}

