
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  background-image: url('https://wallpaperaccess.com/full/2086922.jpg');

  background-size: cover;
}


.navbar {
  background-color:none;
  color: #fff;
  top:0;
  left:0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;

}

.navbar .nav-links {
  display: flex;
  gap: 32px;
  font-size: 20px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
}
.nav-links li{
  margin-left: 40px;
  display: inline-block;
}
.hero {
  
  background-size: cover;
  background-position: center;
  height:200px;
  display: flex;
  padding: 20px  8%;
  justify-content: start;
  align-items: left;
  color: #fff;
 
}

.hero-content {
  max-width: 600px;
}
.hero-content h1{
  font-size: 40px;
}
.hero-content p{
  font-size: 20px;
}

