.X-parralax {
    width: 100%;
    height: 410px;
    background-image: url("./Tournament/main.jpg");
    background-position: 50% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.X-parralax .X-text {
    width: 70%;
    margin-left: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.X-parralax .X-text .X-h1 {
    font-weight: 800;
    font-size: 30px;
    color: rgb(216, 44, 75);
}

.X-parralax .X-text .X-text-inner {
    color: #f9f5f5;
    width: 400px;
}

.X-parralax .X-text .X-btn {
    padding: 12px 20px;
    width: 100px;
    color: #ffffff;
    background-color: #071c3c;
}

.X-parralax .X-text .X-btn:hover {
    width: 100px;
    background-color: #ffffff;
    color: #071c3c;
}

.X-parralax .X-text .X-btn a {
    text-decoration: none;
    color: crimson;
    font-size: 16px;
    text-shadow: 0.2px 0.2px 0.5px white;
    font-weight: 700;
}

.X-parralax .X-text .X-btn:hover a {
    text-decoration: none;
    color: #071c3c;
}
