.X-carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.X-carousel-inner {
    position: absolute;
    inset: 0 0 0 0;
}

.X-carousel-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px) contrast(90%) sepia(20%) grayscale(20%);
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.X-carousel-inner h1, 
.X-carousel-inner p, 
.X-carousel-inner button {
    transform: translateY(50px);
    filter: blur(5px);
    opacity: 0;
    animation: showContent .5s .5s linear forwards;
}

.X-carousel-inner h1 {
    animation-delay: .8s;
}

.X-carousel-inner p {
    animation-delay: .7s;
}

.X-carousel-text {
    position: absolute;
    top: 30%;
    max-width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.X-carousel-text h1 {
    font-size: 50px;
    font-weight: 800;
    color: #f9f5f5;
}

.X-carousel-text p {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: black 2px 2px;
}

.X-carousel-text button {
    padding: 10px 20px;
    font-weight: 700;
    color: #f9f5f5;
    border: none;
    background-color: rgb(216, 44, 75);
}

.X-carousel-text button:hover {
    color: black;
    background-color: white;
}

.X-arrows {
    position: absolute;
    width: 100px;
    right: 5%;
    display: flex;
    justify-content: space-between;
    bottom: 10%;
    z-index: 2;
}

.X-arrows button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    background-color: rgba(38, 35, 35, 0.267);
    font-size: larger;
    transition: .5s;
}

.X-arrows button:hover {
    background-color: #eee;
    color: #555;
}

/* Main Cover */
.X-main-cover {
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    height: 340px;
    width: 80%;
    margin-bottom: 60px;
    margin-left: 160px;
}

.X-cover {
    width: 50%;
    height: 340px;
    display: flex;
}

.X-image {
    width: 50%;
}

.X-image img {
    width: 100%;
    height: 360px;
}

.X-text {
    display: flex;
    flex-direction: column;
}

.X-text .X-button {
    margin-top: 30px;
    width: 22%;
    background-color: #f9f5f5;
    color: #000;
    border: 1px solid transparent; 
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-weight: 700;
    padding: 5px 8px;
    box-sizing: border-box;
    transition: all .3s ease;
}

#X-hidden-content {
    margin-top: 20px;
    width: 500px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#X-hidden-content.X-hidden-class-content {
    opacity: 1;
    visibility: visible;
}

.X-text .X-button:hover {
    background-color: #f9f5f5;
    color: rgb(216, 44, 75);
}

.X-text .X-btn-style {
    transition: border 1s ease;
    border: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.X-text .X-button:focus {
    outline: none;
}

.X-text .X-btn {
    border: none;
    box-shadow: none;
}

.X-main-col-btn {
    width: 80%;
}

.X-text .X-btn:active {
    box-shadow: none;
    border: none;
}

.X-h1 {
    width: 70%;
    color: rgb(216, 44, 75);
    font-size: 45px;
    font-weight: 700;
    font-family: sans-serif;
}

.X-p {
    color: black;
    width: 75%;
    margin-top: 15px;
}
