.X-track-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 450px;
}

.X-track-lower{
    width: 1350px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 35px;
    color: black;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
}

.X-track-upper{
    width: 1350px;
    height: 146px;
    display: flex;
    align-items: center;
    font-size: 35px;
    color: black;
    justify-content: center;
    font-weight: 800;
}

.X-track-card{
    width: 176px;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .X-track-card:hover{
    background-color: rgb(216, 44, 75);
}
.X-track-card:hover .X-svg{
    fill: #ffffff;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(262deg) brightness(107%) contrast(105%);
} */

.X-track-outer .X-track-card img{
    width: 60px;
    height: 50px;
}

.X-track-card .X-img{
    display: flex;
    justify-content: center;
}

.X-track-card .X-text{
    height: 60px;
}

.X-track-card .X-text .X-text1{
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.X-track-card .X-text .X-text2{
    font-size: 14px;
    text-align: center;
    color: gray;
}

.X-sher{
    position: absolute;
    left: 100px;
    height: 420px;
}
