.X-main {
    width: 100%;
    height: 100vh;
    background-image: url("./Tournament/image\ \(1\).webp");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.X-main-wrap {
    width: 85%;
    height: 100vh;
    display: flex;
}

.X-main-text {
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.X-main-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 35%;
}

.X-main-text .X-h1 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-style: italic;
    margin-bottom: 25px;
}

.X-main-text .X-p {
    width: 88%;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 45px;
}

.X-trust {
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
}

.X-main-text .X-btn {
    margin-top: 60px;
}

.X-main-text button {
    border: 2px solid rgb(179, 174, 174);
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 4px;
}

.X-main-text button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.X-main1 {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.X-main-wrap1 {
    width: 85%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
}

.X-main-wrap1 .X-card {
    width: 100%;
    border-radius: 15px;
    height: 400px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.X-main-wrap1 .X-card1 {
    height: 500px;
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(Tournament/service-bg-image-0.jpg) no-repeat right;
}

.X-main-wrap1 .X-card3 {
    height: 500px;
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(Tournament/service-bg-image-5.jpg) no-repeat right;
}

.X-main-wrap1 .X-card4 {
    height: 500px;
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(Tournament/service-bg-image-3.jpg) no-repeat right;
}

.X-main-wrap1 .X-card5 {
    height: 500px;
    background: linear-gradient(90.52deg, rgb(24, 24, 27) 52.16%, rgba(24, 24, 27, 0) 95.48%), url(Tournament/service-bg-image-6.jpg) no-repeat right;
}

.X-card-text {
    margin-left: 30px;
}

.X-card .X-h11 {
    width: 700px;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    font-family: sans-serif;
    color: white;
    margin-bottom: 20px;
}

.X-card .X-h33 {
    width: 800px;
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
    color: white;
}

.X-form {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: white;
}

.X-form .X-h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
}

.X-form .X-h3 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.X-form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 430px;
    margin-top: 40px;
    height: 590px;
}

.X-main-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.X-main-form h2 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}

.X-main-form label {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.X-main-form input[type="text"],
.X-main-form input[type="email"],
.X-main-form input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 16px;
}

.X-main-form input[type="text"] {
    height: 40px;
}

.X-main-form form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(216, 44, 75);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.X-main-form button:hover {
    background-color: white;
    color: rgb(216, 44, 75);
}
