.X-latest-matches {
    width: 100%;
    height: 140vh;
    background-image: url("Tournament/page-background-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.X-latest-top {
    margin-top: 30px;
    width: 1200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.X-latest-top-text {
    color: #f9f5f5;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

.X-latest-card {
    width: 1200px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.X-latest-card:hover {
    background: -webkit-linear-gradient(to right, rgba(15, 15, 15, .8) 0, #540e0f 50%, rgba(15, 15, 15, .8) 100%);
    background: -moz-linear-gradient(to right, rgba(15, 15, 15, .8) 0, #540e0f 50%, rgba(15, 15, 15, .8) 100%);
    background: linear-gradient(to right, rgba(15, 15, 15, .8) 0, #540e0f 50%, rgba(15, 15, 15, .8) 100%);
}

.X-latest-card-inner {
    width: 1050px;
    height: 191px;
    display: flex;
}

.X-latest-card-img {
    display: flex;
    width: 45%;
    height: 191px;
}

.X-latest-card .X-img1 {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.X-img1 .X-text {
    color: white;
    font-size: 17px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.X-latest-card .X-img1 img {
    width: 120px;
    height: 161px;
}

.X-latest-card .X-img2 {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 191px;
}

.X-latest-text {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.X-latest-text-inner {
    width: 600px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.X-text-btn {
    display: flex;
    color: #f9f5f5;
    gap: 13px;
    font-size: 14px;
}

.X-text-btn1 {
    background-color: black;
    padding: 0px 10px;
}

.X-text-btn2 {
    background-color: black;
    padding: 0px 10px;
}

.X-latest-text-inner .X-text {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.X-latest-text-inner .X-date {
    color: gray;
    font-size: 14px;
    align-self: start;
}

.X-watch {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 3px;
    color: #e3dbdb;
}

.X-watch .X-score {
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.X-watch .X-text {
    font-size: 20px;
}

.X-watch .X-stream {
    display: flex;
    align-items: center;
    gap: 20px;
}

.X-linee {
    width: 79%;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
