body {
  background-color: #1d1f27;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containera {
  width: 100%;
  width: 1200px;
  background-color: #2a2e38;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
}

.profile-carda {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3f4b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 350px;
}

.profile-carda:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.image-sectiona {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-imga {
  border: 5px solid #ffffff;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 50%;
}

.gamer-namea{
  font-size: 1.75em;
  font-weight: bold;
  margin: 10px 0;
}

.gamer-emaila {
  color: #a9a9a9;
  margin-bottom: 20px;
}

.form-sectiona {
  flex-grow: 1;
  background-color: #2a2e38;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.profile-headera {
  margin-bottom: 20px;
  color: #00d1b2;
  font-size: 2em;
}

.form-groupa {
  margin-bottom: 15px;
}

.form-groupa label {
  display: block;
  margin-bottom: 5px;
}

.form-groupa input,
.form-groupa textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3a3f4b;
  color: #ffffff;
  transition: border 0.3s;
}

.form-groupa input:focus,
.form-groupa textarea:focus {
  outline: none;
  border: 2px solid #00d1b2;
}

.btna {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.btn-success {
  background-color: #00d1b2;
  color: #ffffff;
  border: none;
}

.btn-success:hover {
  background-color: #00a08a;
  transform: translateY(-3px);
}

input[type="file"] {
  display: none;
}
